{% extends "base.html" %}
{% load staticfiles %}
{% block title %}View Book{% endblock %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
            
			<div class="col-md-5">
				{% if img_list %}
					<div id="carousel-generic" class="carousel slide" data-ride="carousel">
						<ol class="carousel-indicators">
						{% for item in img_list %}
							<li data-target="#carousel-generic" data-slide-to="{{forloop.counter0}}" {% if forloop.first %}class="active"{% endif %}></li>
						{% endfor %}
						</ol>
						<div class="carousel-inner" role="listbox">
						{% for img in img_list %}
							<div {% if forloop.first %}class="item active"{%else%}class="item"{% endif %}>
								<img class="img-rounded" src="/{{img.img}}">
							</div>
						{% endfor %}
						</div>
						<a class="left carousel-control" href="#carousel-generic" role="button" data-slide="prev">
							<span class="glyphicon glyphicon-chevron-left"></span>
						</a>
						<a class="right carousel-control" href="#carousel-generic" role="button" data-slide="next">
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
					</div>
				{% else %}
					<p class="text-center">No image</p>
				{% endif %}
			</div>
			<div class="col-md-6 col-md-offset-1">
				<h3 align='center'>{{book.name}}</h3>
                <h4 align='right'>- {{book.pubDate|date:"Y-m-d"}} </h4>
				<h4>By {{book.author}}</h4>
				<h4>Price：{{ book.price|floatformat:2 }}</h4>
                {% for i in rate_loop %}
                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                {% endfor %}
                {% for i in rate_loop_empty %}
                    <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                {% endfor %}
                <br>
                {% for bt in book_t %}
                <p> {{bt.desc}}
                </p>
                {% endfor %}
                <br>
                <p><a class="btn btn-primary" href="#" role="button">Reserve this book &raquo;</a></p>
            </div>
		</div>
	</div>
</div>

{% endblock %}